@import "src/stylings/primitives/primitives.scss";
@import "src/stylings/shared/agent-layout.scss";

.sidebar-icon-container{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    padding: 5px;
    // height: 70px;
}
.sidebar-icon{
    height: 50px;
    width: 50px;
}
.sidebar-active{
    border-left: 0.3em solid $sidebar-yellow-border;
    padding-bottom: 0.3em;
}
.sidebar-footer{
    position: fixed;
    font-size: $global-font-size;
    bottom: 10px;
    width: 100%;
}
.sidebar-footer-popover-menu{
    position: fixed;
    bottom: 30px;
    box-shadow: 0px 0px 10px -5px;
    left: 40px;
    background: $color-background-white;
}

.search-container {
    margin-bottom: 20px;
    .k-textbox {
      width: 100%;
      padding-left: 35px;
    }
    .k-button{
        box-shadow: none !important;
        border:none !important;
        background: transparent;
    }
    .header-search-icon{
      position: absolute;
    }
  }

.filtes-container{
    max-height: calc(100vh - (#{$agent-header-height} + 5px ));
    overflow-y: auto;
    overflow-x: clip;
    .k-textbox.font-size-small-2, .k-textbox-container > .k-label, .k-floating-label-container  > .k-label{
      font-size: $font-size-small-2 !important;
    }
}

.filter-item-row{
    border-radius: 10px;
}

.group-circle-container{
    width: 25px;
    height: 25px;
    float: left;
}

.circle{
    height: 17px;
    width: 17px;
    border-radius: 50%;
}

.close-icon{
    position: absolute;
    top: 16px;
    right: 0px;
    cursor: pointer;
  }
