<lavi-list-screen-header
Title="All Users"
(OnAddNewButtonClick)="OpenModelInAddMode()"
[PageName]="roleActions.Users"
[ActionName]="actionType.AddEdit"
[ButtonValue]="'Add New User'"
></lavi-list-screen-header>

  <div >
    <lavi-filter-with-tags
      searchTextTitle="Search Users"
      [(filter)]="searchModel"
      [tagList]="TagList$ |async"
      >
    </lavi-filter-with-tags>
  </div>
  <ng-container *ngIf="{ roles: Roles$ |async, users: Users$ | async, userDropdowns: UserDropdownData$ | async } as user">
  <lavi-add-user
    [UserDropdownData]="user?.userDropdowns"
    [AgentDropDownData]="agentDropDown$ | async"
    [BranchSearchList]="BranchSearchList$ | async"
    [Queues]="Queues$ | async"
    [TemplateList]="TemplateList$ | async"
    [UserForm]="UserForm"
    [OpenDialog]="IsDialogOpened$ | async"
    [Roles]="user?.roles"
    [Mode]="Mode"
    [TagList]="TagList$ | async"
    [IsCustomerUserType]="IsCustomerUserType$ |async"
    (OnCloseModal)="CloseModal()"
    (OnSaveData)="OnSave($event)"
    (OnUpdateData)="OnUpdate($event)"
    (OnChangeUserRole)="OnChangeUserRoleBindAgentViewTemplate($event)"
    (OnChangeCompany)="OnChangeCompanyBindRoles($event)"
    (OnChangeAgentTemplate)="OnChangeAgentTemplateBindQueues($event)"
    (OnChangeType)="OnChangeType()"
    (isAllBranchesStatus)="DisableBranchesDropdown()"
    (OnEnterTag)="OnEnterOfTag()"
    (OnTagRemove)="OnTagRemoval($event)"
    (OnEnterInput)="OnInputEnter($event)"
    (SearchBranchNamesOrTags)="SearchBranchNamesAndTags($event)"
    (UncheckIsOverride)="BindAgentViewOnUnCheckIsOverride($event)"
    [HideIsOverride]="HideIsOverrideCheckbox$ | async"
    [IsInternalAuthentication]="IsInternalAuthentication$ | async"
    [PasswordNotAllow]="PasswordNotAllow$ | async"
  ></lavi-add-user>

  <div class="row mt-5 mr-2 ml-2 standardlist-grid all-users-grid">
    <kendo-grid
      [kendoGridBinding]="user?.users |laviFilterListWithTags: searchModel:'tags':'firstName':'lastName':'email':'roleName':'tags':'branches names'"
      [pageSize]="100"
      [sortable]="true"
      [reorderable]="true"
      [resizable]="true"
      [selectable]="{ enabled: true, mode: 'multiple' }"

      [(expandedDetailKeys)]='expansionManager.expandedIds'
      [kendoGridExpandDetailsBy]='expansionManager.expandDetailsBy'
      [rowClass]="listStyleManager.rowStyleCallBack"
    >

      <kendo-grid-column field="firstName" title="Name"
        [headerClass]="listStyleManager.headerClass"
        [style]="listStyleManager.columnStyle"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span>{{dataItem.firstName}} {{dataItem.lastName}}</span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="roleName" title="Role"
        [headerClass]="listStyleManager.headerClass"
        [style]="listStyleManager.columnStyle"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.roleName">{{dataItem.roleName}}</span>
          <span *ngIf="!dataItem.roleName">Super Admin</span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        field="email"
        title="Email"
        [headerClass]="listStyleManager.headerClass"
        [style]="listStyleManager.columnStyle"
      ></kendo-grid-column>

      <kendo-grid-column field="companyId" title="Company"
        [headerClass]="listStyleManager.headerClass"
        [style]="listStyleManager.columnStyle"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.companyId">{{user?.userDropdowns?.companies | laviTextFromDropdown: dataItem?.companyId: 'companyId' : 'companyName'}}</span>
          <span *ngIf="!dataItem.companyId">LAVI</span>
        </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      field="id"
      title=""
      [headerClass]="listStyleManager.headerClass"
      [style]="listStyleManager.columnStyle"
      [width]="editMenuColumnSize"
    >
      <ng-template kendoGridCellTemplate let-dataItem>
        <lavi-list-menu
          [dataItem]="dataItem"
          [menuItems]="menuItems"
          [menuItemValidator]="showMenuItem"
          (showMenuItem)="onItemMenuSelect($event)"
          >
        </lavi-list-menu>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      title=''
      [headerClass]="listStyleManager.headerClass"
      [width]="listStyleManager.expanderColumnSize"
      [style]="listStyleManager.columnStyle"
      field='id'
    >
      <ng-template kendoGridCellTemplate let-column>
        <lavi-list-detail-expander
          [expansionManager]="expansionManager"
          [columnId]="column.id"
        >
        </lavi-list-detail-expander>
      </ng-template>
    </kendo-grid-column>

    <ng-template kendoGridDetailTemplate let-dataItem>
      <div>
        <lavi-tag-display
          [tags]='dataItem.tags'
        >
        </lavi-tag-display>
        <span *ngFor="let branch of dataItem.branches">
          <button
          kendoButton
          class="branch-button-unselected"
        >{{ branch.name }}</button>

        </span>
      </div>
    </ng-template>

    </kendo-grid>
  </div>
</ng-container>
