/* The modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/* Modal Body */
.modal-body {
  padding: 10px;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #ddd;
  font-weight: bold;
}

/* History block */
.history {
  border: 1px solid #ddd;
  padding: 10px;
}

.history h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

.history ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.history li {
  margin-bottom: 5px;
}
