<ng-container *ngIf="NextUpControl$ | async as control">
  <div
    rzContainment="#DivLayoutDesignContainer"
    (rzStop)="OnResizeStop($event)"
    (endOffset)="OnMoveEnd($event)"
    (click)="OnClick()"
    [position]="{
      x: control.styles.left,
      y: control.styles.top
    }"
    [style.width.px]="control.styles.width"
    [style.height.px]="control.styles.height"
    [style.background-color]="control.styles.backgroundColor"
    [style.border-radius.px]="control.styles.boxRoundCorners || 0"
    [style.background-image]="'url(' + control.src + ')'"
    [ngClass]="{ 'shadow': control.boxShadow }"
    [inBounds]="true"
    [bounds]="DivLayoutDesignContainer"
    [preventDefaultEvent]="true"
    [gridSize]="IsOnlyGrid ? GridSize : null"
    [rzGrid]="IsOnlyGrid ? GridSize : null"
    class="e-panel insideDiv next-up"
    ngDraggable
    ngResizable
  >
  <ng-container *ngIf="!control.text.length || control.text.length == 0">
    <p
    [style.font-size]="
      control.titleFontSize ? control.titleFontSize + 'px' : ''
    "
    [style.font-style]="control.titleFontStyle"
    [style.font-weight]="control.titleFontWeight"
    [style.font-family]="control.titleFont"
    [style.color]="control.titleTextColor"
    class="heading-text"
  >
    <ng-container *ngIf="SelectedLanguage$ | async as language">
      {{
        control.text[language]
        ? (control.text[language] | uppercase)
          : control.text[DefaultLanguage] | uppercase
      }}
    </ng-container>
  </p>
  <div
    [style.font-size]="control.styles.fontSize ? control.styles.fontSize + 'px' : ''"
    [style.font-style]="control.styles.fontStyle"
    [style.font-family]="control.styles.font"
    [style.color]="control.styles.color"
    [style.font-weight]="control.styles.fontWeight || ''"
    class="list-container"
  >
  <div class="row justify-content-md-center">
    <div class="col-5 wrap text-left">A008</div>
    <div class="col-5 wrap text-left">DESK 3</div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-5 wrap text-left">A009</div>
    <div class="col-5 wrap text-left">DESK 5</div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-5 wrap text-left">A010</div>
    <div class="col-5 wrap text-left">DESK 6</div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-5 wrap text-left">A011</div>
    <div class="col-5 wrap text-left">DESK 8</div>
  </div>
  </div>
  </ng-container>
  
  <ng-container *ngIf="control.text.length > 0 ">

  
  <div style="display: flex;">
    <ng-container *ngFor="let newControl of control.text; let i = index">
    <div style="flex: 1;">
      <p
        [style.font-size]="control.titleFontSize ? control.titleFontSize + 'px' : ''"
        [style.font-style]="control.titleFontStyle"
        [style.font-weight]="control.titleFontWeight"
        [style.font-family]="control.titleFont"
        [style.color]="control.titleTextColor"
        class="heading-text"
      >
        <ng-container *ngIf="SelectedLanguage$ | async as language">
          {{
            control.text[i][language]? control.text[i][language].queueName : control.text[i][language]
            ? (control.text[i][language]? control.text[i][language].queueName : control.text[i][language] | uppercase)
              : control.text[i][DefaultLanguage]? control.text[i][DefaultLanguage].queueName : control.text[i][DefaultLanguage] | uppercase
          }}
        </ng-container>

      </p>
      <div
        [style.font-size]="control.styles.fontSize ? control.styles.fontSize + 'px' : ''"
        [style.font-style]="control.styles.fontStyle"
        [style.font-family]="control.styles.font"
        [style.color]="control.styles.color"
        [style.font-weight]="control.styles.fontWeight || ''"
        class="list-container"
      >
      <div class="row justify-content-md-center">
        <div class="col-5 wrap text-left">A008</div>
        <div class="col-5 wrap text-left">DESK 3</div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-5 wrap text-left">A009</div>
        <div class="col-5 wrap text-left">DESK 5</div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-5 wrap text-left">A010</div>
        <div class="col-5 wrap text-left">DESK 6</div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-5 wrap text-left">A011</div>
        <div class="col-5 wrap text-left">DESK 8</div>
      </div>
      </div>
    </div>

  </ng-container>
  </div>
</ng-container>


   
    
  </div>
</ng-container>
