.fornt-back-control{
    border: solid 1px grey;
    border-radius: 5px;
    margin: 5px;
.move-to-front{
    height: 30px;
    width: 50%;
    text-align: center;
    padding-top: 8px;
    font-size: 30px;

}
.move-to-back{
    height: 30px;
    width: 50%;
    border-left: 1px solid;
    text-align: center;
    font-size: 30px;
    padding-top: 8px;

}
}