li {
  border: solid thin #707070;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  padding: 9px 0;
  margin: 10px 10px 10px 0;
  width: 124px;
  text-align: center;
}
