<div class="position-absolute">
    <div
  [style.transform]="
      'translate(' + Data.thankYouControl.left + 'px, ' + Data.thankYouControl.top + 'px) scale(1)'"
  [style.width.px]="Data.thankYouControl.width"
  [style.height.px]="Data.thankYouControl.height"
  [style.background-color]="Data.thankYouControl.backgroundColor"
  [style.padding-left.px]="Data.thankYouControl.horizontalPadding || 0"
  [style.padding-right.px]="Data.thankYouControl.horizontalPadding || 0"
  [style.padding-top.px]="Data.thankYouControl.verticalPadding || 0"
  [style.padding-bottom.px]="Data.thankYouControl.verticalPadding || 0"
  [style.font-size]="
  Data.thankYouControl.fontSize ? Data.thankYouControl.fontSize + 'px' : ''
  "
  [style.font-style]="Data.thankYouControl.fontStyle"
  [style.font-weight]="Data.thankYouControl.fontWeight"
  [style.font-family]="Data.thankYouControl.font"
  [inBounds]="false"
  class="insideDiv"
>
  <UL class="UL">
    <ng-container *ngFor="let item of Data.thankYouControl.items">
      <LI
        class="LI"
        [style.color]="Data.thankYouControl.primaryColor"
        [style.background-color]="Data.thankYouControl.itemBackgroundColor"
        [style.font-size]="
        item.fontSize ? item.fontSize + 'px' : ''
        "
        [style.font-style]="item.fontStyle"
        [style.font-family]="item.font"
        [style.font-weight]="item.fontWeight"
        >
        <div class="row">
          <span [ngClass]="{'col-12': !(item.value), 'col-lg-6 col-6': item.value }"
          [style.color]="item.type === ItemType.AgentCalledNote ? Data.thankYouControl.secondaryColor : Data.thankYouControl.primaryColor"
          >{{
            (item.text[SelectedLanguage] || item.text[DefaultLanguage])
          }}</span>
          <span class="col-lg-6 col-6" *ngIf="item.value" [style.color]="Data.thankYouControl.secondaryColor">{{
            item.value
          }}</span>
        </div>
      </LI>
    </ng-container>
  </UL>
</div>


<ng-container *ngFor="let button of Data?.buttons">
  <div class="position-absolute">
    <lavi-preview-button
    [Button]="button"
    [SelectedLanguage]="SelectedLanguage"
    [DefaultLanguage]="DefaultLanguage"
    *ngIf="button.showButton"
    (ShowNextQuestion)="showNextPage(button.name)"
    ></lavi-preview-button>
  </div>
</ng-container>

  <lavi-preview-label [Labels]="Data?.labels" [DefaultLanguage]="DefaultLanguage" [SelectedLanguage]="SelectedLanguage"></lavi-preview-label>
  <lavi-preview-image [Images]="Data?.images" [SelectedLanguage]="SelectedLanguage"></lavi-preview-image>
  <lavi-preview-video [Videos]="Data?.videos" [SelectedLanguage]="SelectedLanguage"></lavi-preview-video>
  <lavi-preview-slider [Sliders]="Data?.sliders" [SelectedLanguage]="SelectedLanguage"></lavi-preview-slider>

</div>
