<div class="row divLayoutTopSection">
  <div class="divLayoutTopSectionContent">
    <span>COMPONENTS</span>
  </div>
  <div class="divLayoutMiddleSectionContent">
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-7 divLanguageDropdown">
        <div class="text-capitalize w-auto float-right">
          <kendo-dropdownlist
            [data]="Languages$ | async"
            [textField]="'language'"
            [valueField]="'languageCode'"
            (valueChange)="OnLayoutLanguageChange($event)"
            [(ngModel)]="SelectedLanguage"
            ></kendo-dropdownlist>
        </div>
        <div class="float-right preview-text">
          <span class="cursor-pointer text-blue text-right mr-3" (click)="ShowPreview()">Preview</span>
        </div>
      </div>
    </div>
  </div>
  <div class="right-section-header">
    <span>DESIGN PROPERTIES</span>
  </div>
</div>
<lavi-modal
  [OpenDialog]="Opened"
  Title="Enter the width and height of the preview screen"
  [MinWidth]="250"
  [Width]="600"
>
  <form [formGroup]="MyForm">
    <div >
      <kendo-textbox-container  class="w-100" floatingLabel="Width">
        <input kendoTextBox  maxlength="5" tabindex="6"  formControlName="width" lavi-app-numbers-only lavi-trim-value/>
      </kendo-textbox-container>
    </div>

    <div >
      <kendo-textbox-container class="w-100" floatingLabel="Height">
        <input kendoTextBox  maxlength="5" tabindex="6"  formControlName="height" lavi-app-numbers-only lavi-trim-value/>
      </kendo-textbox-container>
    </div>
    <div>
      <kendo-textbox-container class="w-100" floatingLabel="Language">
        <kendo-dropdownlist
          tabindex="4"
          [data]="Languages$ | async"
          textField="language"
          valueField="languageCode"
          formControlName="language"
        >
        </kendo-dropdownlist>
      </kendo-textbox-container>
    </div>

  </form>

  <kendo-dialog-actions >
    <div class="col-lg-12 col-sm-12 col-12 pt-5">
       <div class="row">
         <div class="col-lg-4 col-4"></div>
         <div class="col-lg-8 col-8">
           <div class="float-right row">
             <input
               kendoButton
               type="button"
               (click)="Close()"
               class="secondary-button"
               value="Cancel"
             />
             <input
               type="button"
               (click)="onAction()"
               kendoButton
               class="primary-button"
               value="Ok"
             />
           </div>
         </div>
       </div>
     </div>
   </kendo-dialog-actions>
</lavi-modal>
