  <lavi-preview-execution-label
    [Labels]="Data?.labels"
    [SelectedLanguage]="SelectedLanguage"
    [DefaultLanguage]="DefaultLanguage"
  ></lavi-preview-execution-label>
  <lavi-preview-execution-image
    [Images]="Data?.images"
    [SelectedLanguage]="SelectedLanguage"
  ></lavi-preview-execution-image>
  <lavi-preview-execution-video
    [Videos]="Data?.videos"
    [SelectedLanguage]="SelectedLanguage"
  ></lavi-preview-execution-video>
  <lavi-preview-execution-slider
    [Slider]="Data?.sliders"
    [SelectedLanguage]="SelectedLanguage"
  ></lavi-preview-execution-slider>
  <lavi-preview-execution-button
  [Button]="Data?.buttons[0]"
  [SelectedLanguage]="SelectedLanguage"
  [DefaultLanguage]="DefaultLanguage"
  (OnButtonClick)="ExitButton()">
</lavi-preview-execution-button>

