    <div [formGroup]="Item.form">
      <div>
        <label>Name</label
        ><input
          type="text"
          placeholder="Label Name"
          formControlName="name"
          [value]="Item.name"
          maxlength="50"
        /><span class="edit-icon"></span>
      </div>
      <div class="position-relative">
        <label>src</label>
        <div class="float-right text-right upload-button-container">
          <span class="browse-button">
            <span class="text-blue" (click)="OpenImageDialog()">Click to add</span>
          </span>
          <span class="edit-icon bg-image"></span>
        </div>
        </div>
      <div>
        <label>Top:</label
        ><input
          type="text"
          formControlName="top"
          maxlength="3"
          placeholder="Top"
          lavi-app-numbers-only
          [value]="Item.styles.top"
        />
        <span>px</span>
      </div>
      <div>
        <label>Left:</label
        ><input
          type="text"
          formControlName="left"
          placeholder="Left"
          [value]="Item.styles.left"
          lavi-app-numbers-only
          maxlength="3"
          />
        <span>px</span>
      </div>
      <div>
        <label>Width</label
        ><input
          type="text"
          maxlength="3"
          formControlName="width"
          placeholder="Width"
          [value]="Item.styles.width"
          lavi-app-numbers-only
        />
        <span>px</span>
      </div>
      <div>
        <label>Height</label
        ><input
          type="text"
          formControlName="height"
          placeholder="Height"
          maxlength="3"
          [value]="Item.styles.height"
          lavi-app-numbers-only
        />
        <span>px</span>
     </div>
     <div>
      <label>Move control</label>
      <div class="front-back-control" >  
        <span class="k-i-forward-element k-icon move-to-front" title="Move to front" (click)="IncreaseZIndex()">
        </span>
        <span class="k-i-backward-element k-icon move-to-back" title="Move to back" (click)="DecreaseZIndex()">
        </span>
      </div>
    </div>
    </div>

    
<lavi-language-image-modal [OpenDialog]="OpenImageModal"
[Title]="'Upload Images'"
[ImageFormArray]="ImageFormArray$ | async"
(Save)="Save($event)"
(CloseImageModal)="CloseImageDialog()"
></lavi-language-image-modal>
