<ng-container *ngIf="NowHelpingControl$ | async as control">
  <div
    rzContainment="#DivLayoutDesignContainer"
    (rzStop)="OnResizeStop($event)"
    (click)="OnClick()"
    (endOffset)="OnMoveEnd($event)"
    [position]="{
      x: control.styles.left,
      y: control.styles.top
    }"
    [style.width.px]="control.styles.width"
    [style.height.px]="control.styles.height"
    [style.background-color]="control.styles.backgroundColor"
    [style.border-radius.px]="control.styles.boxRoundCorners || 0"
    [style.background-image]="'url(' + control.src + ')'"
    [ngClass]="{ 'shadow': control.boxShadow }"
    [inBounds]="true"
    [bounds]="DivLayoutDesignContainer"
    [preventDefaultEvent]="true"
    [gridSize]="IsOnlyGrid ? GridSize : null"
    [rzGrid]="IsOnlyGrid ? GridSize : null"
    class="e-panel insideDiv now-helping"
    ngDraggable
    ngResizable
  >
    <p
    [style.font-size]="
    control.titleFontSize ? control.titleFontSize + 'px' : ''
  "
      [style.font-style]="control.titleFontStyle"
      [style.font-family]="control.titleFont"
      [style.font-weight]="control.titleFontWeight"
      [style.color]="control.titleTextColor"
      class="heading-text"
    >
    <ng-container *ngIf="SelectedLanguage$ | async as language">
      {{control.text[language]
        ? (control.text[language]  | uppercase)
        : control.text[DefaultLanguage]  | uppercase}}
    </ng-container>
    </p>
    <div
      [style.font-size]="control.styles.fontSize ? control.styles.fontSize + 'px' : ''"
      [style.font-style]="control.styles.fontStyle"
      [style.font-weight]="control.styles.fontWeight || ''"
      [style.font-family]="control.styles.font"
      [style.color]="control.styles.color"
      class="list-container"
    >
    <div class="row justify-content-md-center">
      <div class="col-5 wrap text-left">A002</div>
      <div class="col-5 wrap text-left">DESK1</div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-5 wrap text-left">B007</div>
      <div class="col-5 wrap text-left">DESK 2</div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-5 wrap text-left">C009</div>
      <div class="col-5 wrap text-left">DESK 4</div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-5 wrap text-left">A003</div>
      <div class="col-5 wrap text-left">DESK 7</div>
    </div>
    </div>
  </div>
</ng-container>
