<div class="property-window">
  <div class="property-window-body">
    <form [formGroup]="DesignerPanel.form" autocomplete="off">
      <div>
        <label>Name</label
        ><input
          type="text"
          placeholder="Name"
          formControlName="name"
          maxlength="50"
          lavi-trim-value
        />
        <span class="edit-icon"></span>
      </div>
      <div>
        <label>Width </label><input type="text" formControlName="width" placeholder="Width" lavi-app-numbers-only
          maxlength="4" [value]="DesignerPanel.styles.width" /> <span>px</span>
      </div>
      <div>
        <label>Height </label><input type="text" formControlName="height" placeholder="Height" lavi-app-numbers-only
          maxlength="4" [value]="DesignerPanel.styles.height" />
        <span>px</span>
      </div>
      <div>
        <label>Show Grid</label>
        <span class="float-right mr-3 mt-1">
          <input type="checkbox" kendoCheckBox formControlName="showGrid"/>
        </span>
      </div>
      <div *ngIf="DesignerPanel.showGrid">
        <div>
          <label>Grid Cell Size</label>
          <select formControlName="cellSize">
            <option *ngFor="let size of Sizes" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>

      </div>


      <div class="position-relative">
        <label>Background Image</label>
        <div class="float-right text-right upload-button-container">
          <span class="browse-button">
            <ng-container *ngIf="FileName"><span class="pull-right-32 mr-10">{{FileName}}</span></ng-container>
            <ng-container *ngIf="!FileName"><span class="text-blue">Click to add</span></ng-container>
          </span>
          <input
            type="file"
            accept="image/*"
            placeholder="background color"
            (change)="GetFileURL($event)"
          />
          <span *ngIf="FileName" class="close background-img-close-icon"
          (click)="Remove()">&times;</span>
          <span *ngIf="!FileName" class="edit-icon bg-image"></span>
        </div>
      </div>
      <div>
        <label>Background Color</label>
        <kendo-colorpicker
          formControlName="backgroundColor"
          [value]="DesignerPanel.styles.backgroundColor"
        >
        </kendo-colorpicker>
      </div>
      <lavi-home-interface-font [FormGroup]="DesignerPanel.form" [IsGeneralPropertyWindow]='true'></lavi-home-interface-font>
    </form>
  </div>
</div>
