<div
  class="newControl newLabel"
  *ngFor="let control of Control"
  [position]="{ x: control.styles.left, y: control.styles.top }"
  rzContainment="#DivLayoutDesignContainer"
  [style.width.px]="control.styles.width"
  [style.height.px]="control.styles.height"
  [style.z-index]="control.styles.zindex"
  [style.color]="control.styles.color"
  [style.font-size]="
    control.styles.fontSize ? control.styles.fontSize + 'px' : ''
  "
  [style.text-align]="control.alignment"
  [style.font-style]="control.styles.fontStyle"
  [style.font-family]="control.styles.font"
  [style.font-weight]="control.styles.fontWeight"
  [style.background-color]="control.styles.backgroundColor"
  [bounds]="DivLayoutDesignContainer"
  [inBounds]="true"
  [preventDefaultEvent]="true"
  [gridSize]="IsOnlyGrid? GridSize:null"
  [rzGrid]="IsOnlyGrid? GridSize:null"
  (click)="onControlClick(control)"
  (endOffset)="onControlMoveEnd($event, control)"
  (rzStop)="onControlResizeStop($event, control)"
  ngDraggable
  ngResizable
>
  <button
    type="button"
    (click)="onControlRemove(control)"
    class="close"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="wrap">{{ control.text[SelectedLanguageCode] || control.text[DefaultLanguageCode] }}</span>
</div>
