
.show-dyanamic-field-list{
  border:2px solid #cbcbcb !important; 
  border-radius: 8px; 
  padding: 10px;
  word-wrap: break-word; 
  min-height: 50px;
  max-height: 100px;
  overflow-y: scroll !important;
}
