$_color-white :#fff;
$_color-yellow :#FFD100;
$_color-yellow-200: #e0a800;
$_color-yellow-300: #d39e00;
$_color-light-orange-400: #e0ae50;
$_color-yellow-500: #f7cc46;
$_color-yellow-600: #FFE100;
$_color-yellow-700: #FFBC05;
$_color-yellow-800: #FFBE07;
$_color-yellow-900: #f7f7a2;
$_color-yellow-1000: #b8b80e;
$_color-light-pink: #ebdfe5;
$_color-white: #fff;
$_color-grey: #e5e5e5;
$_color-dark-grey: #555555;
$_color-dark-grey-100: #6F7070;
$_color-dark-grey-200: #888;
$_color-dark-grey-300: #1c1c1c;
$_color-dark-grey-400: #292929;
$_color-dark-grey-500: #808080;
$_color-dark-grey-600: #7e7e7e;
$_color-dark-grey-700: #111;
$_color-dark-grey-800: #575757;
$_color-dark-grey-900: #2f3941;
$_color-dark-grey-1000: #6d6e70;
$_color-dark-grey-1100: #212121;
$_color-dark-grey-1200: #C7C7C7;
$_color-dark-grey-1300: #d3d3d3;
$_color-dark-grey-1400: #eee;
$_color-dark-grey-1500: #202223;
$_color-dark-grey-1600: #6D7175;
$_color-grey-100: #686868;
$_color-grey-200: #9e9e9e;
$_color-grey-300: #636466;
$_color-grey-400: #bdbdbd;
$_color-grey-500: #e0e0e0;
$_color-grey-600: #f1f1f1;
$_color-grey-700: #d4d5d6;
$_color-grey-800: #ebebeb;
$_color-grey-900: #4f4f4f;
$_color-light-grey: #efefef;
$_color-light-grey-100: #707070;
$_color-light-grey-200: #fafafa;
$_color-light-grey-300: #f8f9f9;
$_color-light-grey-400: #8e8a8a;
$_color-light-grey-500: #e9eaeb;
$_color-light-grey-600: #F3F3F3;
$_color-light-grey-700: #d9d7d7;
$_color-light-grey-800: #ddd;
$_color-light-grey-900: #a3a3a3;
$_color-light-grey-1000: #c4c4c4;
$_color-light-grey-1100: #f9f9f9;
$_color-light-grey-1500: #F1F2F3;
$_color-light-grey-1600: #C9CCCF;
$_color-light-grey-1700: #BABEC3;
$_color-light-grey-1800 : #8C9196;
$_color-light-grey-1900: #E1E3E5;
$_color-light-blue: #F4F6FA;
$_color-light-blue-200: #D8DCDE;
$_color-light-blue-300: #e3f2fd;
$_color-light-blue-400: #bbdefb;
$_color-light-blue-500: #F3F5F8;
$_color-light-blue-600: #636466;
$_color-blue: #5B9EBD;
$_color-blue-200: #42a5f5;
$_color_blue-300: #2196f3;
$_color_blue-400: #4f8ee3;
$_color_blue-500: #88b9d0;
$_color_blue-600: #ced4da;
$_color_blue-800: #866FFE;
$_color-black: #000;
$_color-light-black: #00000029;
$_color-red: #f00;
$_color-red-100: #b6261a;
$_color-light-red:#f6a8a8c9;
$_color-green: #6fcf97;
$_color-green-100: #5d9d40;
$_color-green-200: #45c493;
$_color-green-300: #679C37;
$_color-light-green: #ecf9f3;
$_color-green-400: #c2ee80c9;
$_color-orange: #ff8d00;
$_color-orange-100: #ff5e00;
$_color-orange-200: #ef5555;
$_color-orange-300: #ED682C;
$_color-light-orage-100: #faebd7;
$warning-color:#ff704f;
$_color-purple: #833dc9;
$_color-purple-100: #553177;
$_color-primary-button-bg: #866FFE;
$_color-purple-200: #634EFE;
$_color-purple-300: #EDE9FF;
$_color-purple-400:#854189;
$_color-purple-500:#866FFE;
$color-header-text: $_color-dark-grey-1000;
$color-header-border-color: $_color-dark-grey-1400;
$color-etext: $_color-dark-grey-1100;
$color-background-white: $_color-white;
$color-background-black: $_color-black;
$color-background-grey: $_color-grey;
$color-background-dark-grey: $_color-dark-grey;
$color-background-light-blue: $_color-light-blue;
$color-background-blue: $_color-blue;
$color-background-blue-200: $_color-light-blue-500;
$color-link-text-blue: $_color-blue;
$color-text-white: $_color-white;
$color-text-light-blue: $_color-light-blue-200;
$color-text-black: $_color-black;
$color-text-red: $_color-red;
$color-text-red-100:$_color-red-100;
$color-text-light-red:$_color-red-100;
$color-text-green: $_color-green;
$color-text-grey: $_color-dark-grey-200;
$color-text-light-grey: $_color-light-grey-100;
$color-text-orange: $_color-orange;
$color-global-text: rgba($_color-black, 0.87);
$color-global-text-label: rgba($_color-black, 0.54);
$color-global-checkbox: $_color-blue;
$color-global-radio: $_color-blue;
$color-header-text: $_color-grey-300;
$color-form-disabled-text: $_color-grey-200;
$color-form-disabled-button-text: $_color-grey-500;
$color-form-disabled-element: $_color-grey-700;
$color-form-primary-button: $_color-primary-button-bg;
$color-background-yellow: $_color-yellow;
$color-form-add-button-hover-border: $_color-yellow-300;
$color-form-add-button-hover: $_color-yellow-200;
$color-form-secondary-button-background: $_color-grey-500;
$color-form-secondary-button-text: $_color-primary-button-bg;
$color-border-form-element: $_color-grey-200;
$color-border-yellow: $_color-yellow;
$color-border-form-element-active: $_color-light-grey-100;
$color-border-form-element-focus: $_color-blue-200;
$color-info-button: $_color-blue-200;
$panel-border-color: $_color-light-grey-500;
$panel-text-color: $_color-grey-100;
$scroll-track-color: $_color-grey-600;
$color-background-form-element: $_color-grey-600;
$sidebar-background-color: $_color-light-blue-300;
$sidebar-background-active-color: $_color-grey-700;
$sidebar-text-color: $_color_blue-300;
$chip-background-color: $_color-grey-800;
$chip-online-background-color: $_color-light-green;
$chip-online-text-color: $_color-green;
$switch-background-color: $_color-light-blue-400;
$grid-header-text-color: $_color-grey-900;
$file-upload-border: $_color-light-grey;
$accordion-bg-color: $_color-light-grey;
$accordion-border-color: $_color-dark-grey-1300;
$agent-default-font-color: $_color-dark-grey-400;
$agent-light-font-color: $_color-light-grey-100;
$agent-row-border: $_color-dark-grey-500;
$agent-grid-row-background: $_color-light-grey-200;
$agent-header-column-font-color:$_color-light-pink;
$agent-modal-bg: $_color-dark-grey-100;
$agent-modal-heading-text: $_color-dark-grey-1200;
$agent-chat-bubble: $_color-light-grey-600;
$station-end-multiple-background-color: $_color-red-100;
$agent-header-background: $_color-dark-grey-600;
$agent-button-text: $_color-dark-grey-700;
$button-light-orange-background-color: $_color-light-orange-400;
$button-green-background-color: $_color-green-100;
$button-light-blue-background-color: $_color_blue-400;
$button-purple-background-color: $_color-purple;
$button-light-purple-background-color: $_color-purple-100;
$button-light-green-background-color:$_color-green-200;
$button-orange-background-color: $_color-orange-100;
$button-red-background-color:$_color-red-100;
$button-yellow-background-color:$_color-yellow-500;
$sidebar-yellow-border: $_color-yellow-600;
$workflow-background: $_color-light-grey-200;
$workflow-menu-text-color: $_color-dark-grey-800;
$workflow-left-column-color: $_color-light-grey-300;
$workflow-heading-text-color: $_color-dark-grey-900;
$workflow-row-border: $_color-dark-grey-500;
$workflow-background-color: $_color-dark-grey-300;
$workflow-text-color: $_color-grey-200;
$workflow-no-routing-color: $_color-orange-200;
$scheduler-background: $_color-light-grey-200;
$scheduler-default-font-color: $_color-dark-grey-400;
$scheduler-footer-color: $_color-grey-800;
$scheduler-header-color: $_color-grey-800;
$scheduler-primary-button-color: $_color-orange-300;
$scheduler-border-color: $_color-light-grey-700;
$scheduler-header-border-color: $_color-light-grey-800;
$scheduler-notification-banner-color: $_color-light-orage-100;
$scheduler-notification-color: $_color-orange-200;
$scheduler-copy-link-color: $_color-light-grey-900;
$scheduler-copy-cost-calculator: $_color_blue-600;
$company-admin-link-account-color: $_color-green-300;
$kiosk-background-color: $_color-light-blue-600;
$layout-background-color: $_color-light-blue-400;
$placeholder-color: $_color-grey-700;
$login-password-text-color: $_color-light-grey-400;
$layout-content-border: $_color-light-black;
$layout-shadow: $_color-light-black;
$top-nav-user-name-bg: $_color-light-grey-1000;
$top-nav-user-email: $_color-light-grey-1000;
$frame-border-color: $_color-light-grey-1000;
$top-nav-user-role-bg: $_color-grey-600;
$top-nav-border-color: $_color-light-grey-1100;
$top-nav-icon-color: $_color-dark-grey-1300;
$top-nav-text-color: $_color-dark-grey-1500;
$top-nav-bg-color: $_color-purple-200;
$nav-selected-text-color:$_color_blue-800;
$nav-border-color: $_color-light-grey-1600;
$nav-text-color: $_color-light-grey-1800;
$nav-bg-selected-color: $_color-purple-300;
$nav-left-border-color: $_color-light-grey-1900;
$nav-disabled-color: $_color-dark-grey-1600;
$snapshot-slider-bg-grey: $_color-light-grey-1500;
$snapshot-slider-bg-white: $_color-white;

$snapshot-slider-bg-selected-yellow: $_color-yellow-700;
$snapshot-slider-bg-selected-purple: $_color-purple-500;

$snapshot-slider-text-color: $_color-dark-grey-1500;
$snapshot-slider-text-color-white: $_color-white;
$snapshot-slider-disabled-text-color: $_color-light-grey-1800;
$snapshot-slider-heading-color: $_color-dark-grey-1600;
$snapshot-tab-border: $_color-light-grey-1600;
$snapshot-selected-tab-border: $_color-yellow-800;
$snapshot-tab-text: $_color-light-grey-1700;
$snapshot-list-sub-header-text-color:$_color-purple-400;
$login-field-border-color: $_color-light-grey-800;
$manage-screen-card-text: $_color-dark-grey-1500;
// Advance Workflow
$input-background-color: #FCFCFD;
$input-border-color: #D0D5DD;
$input-text-color: #475467;
$slider-background-color: #F2F4F7;
$slider-active-color: $_color_blue-800;
$slider-text-color: #98A2B3;
$conditional-background: #F9FAFB;
$add-button-background: $_color-purple-300;
$language-color: #E4E7EC;
$language-text-color: #667085;

$input-disabled-background-color: #b0b0b0;
