<ng-container
  *ngIf="{
    Panel: Panel$ | async,
    ButtonsList: ButtonsList$ | async,
    ControlSelection: ControlSelection$ | async,
    ControlList: ControlList$ | async
  } as values"
>
  <ng-container *ngIf="values.ControlSelection && values.ControlSelection != undefined">
    <div class="property-window service-properties">
      <lavi-pre-service-question-panel
        [Panel]="values.Panel"
        [(IsPanelExpand)]="values.ControlSelection.IsPanelSelected"
      ></lavi-pre-service-question-panel>
    </div>


    <div
      *ngIf="values.Panel.mode == 1"
      class="service-properties property-window"
    >
      <lavi-button-property-control
        *ngIf="values.ButtonsList.length > 0"
        PanelHeader="General Question Button Properties"
        [Buttons]="values.ButtonsList"
        [TextFormArray]="TextFormArray$ | async"
        [ButtonImageFormArray]="ButtonImageFormArray$ | async"
        [(IsPageButtonSelected)]="values.ControlSelection.IsButtonSelected"
        (OpenDialog)="OpenTranslateDialog($event)"
        (UpdateButtons)="UpdateButtons($event)"
        (ButtonDropdownChange)="OnButtonDropdownChange($event)"
        (TranslateText)="Translate($event)"
        (UpdateTranslatedText)="UpdateTranslatedTextInForm($event)"
        (OpenButtonImageModal)="OpenButtonImageModal($event)"
        (ApplyImageChanges)="ApplyImageChanges($event)"
      ></lavi-button-property-control>
    </div>

    <div
      *ngIf="values.Panel.mode == 2"
      class="property-window service-properties"
    >
      <lavi-form-panel
        PanelHeader="General Question Button Properties"
        [(PanelExpand)]="values.ControlSelection.IsButtonSelected"
      >
        <lavi-form-content-panel>
          <ng-container>
            <div class="property-window-body">
              <label>Button</label>
              <select (change)="OnButtonDropdownChange($event.target.value)">
                <option
                  *ngFor="let button of values.ButtonsList"
                  [value]="button.name"
                  [selected]="button.showPropertyWindow"
                >
                  {{ button.name }}
                </option>
              </select>
              <ng-container
                *ngFor="let Button of values.ButtonsList; let i = index"
              >
                <div
                  *ngIf="Button.showPropertyWindow"
                  [formGroup]="Button.form"
                >
                  <div>
                    <label>Show Icon</label>
                    <span class="float-right mr-3 mt-1">
                      <input
                        type="checkbox"
                        kendoCheckBox
                        formControlName="showIcon"
                      />
                    </span>
                  </div>
                  <div>
                    <label>Width</label
                    ><input
                      type="text"
                      maxlength="3"
                      lavi-app-numbers-only
                      formControlName="width"
                      [value]="Button.styles.width"
                      placeholder="Width"
                    />
                    <span>px</span>
                  </div>
                  <div>
                    <label>Height</label
                    ><input
                      type="text"
                      maxlength="3"
                      lavi-app-numbers-only
                      formControlName="height"
                      [value]="Button.styles.height"
                      placeholder="Height"
                    />
                    <span>px</span>
                  </div>
                  <ng-container *ngIf="i === 0">
                    <div>
                      <label>Left</label
                      ><input
                        type="text"
                        maxlength="5"
                        lavi-app-numbers-only
                        formControlName="left"
                        [value]="Button.styles.left"
                        placeholder="Left"
                      />
                      <span>px</span>
                    </div>
                    <div>
                      <label>Top</label
                      ><input
                        type="text"
                        formControlName="top"
                        maxlength="3"
                        lavi-app-numbers-only
                        [value]="Button.styles.top"
                        placeholder="Top"
                      />
                      <span>px</span>
                    </div>
                  </ng-container>
                  <div *ngIf="!Button.showIcon">
                    <label>Text</label>
                    <div class="float-right">
                      <span
                        (click)="OpenTranslateDialog(Button.name)"
                        class="text-blue cursor-pointer"
                      >
                        Edit text</span
                      >
                    </div>
                  </div>
                  <div class="position-relative" *ngIf="Button.showIcon">
                    <label>src</label>
                    <div class="float-right text-right upload-button-container">
                      <span class="mr-n3 browse-button">
                        <ng-container
                          ><span
                            (click)="OpenImageDialog(Button.name)"
                            class="text-blue"
                            >Click to add</span
                          ></ng-container
                        >
                        <span class="edit-icon"></span>
                      </span>
                    </div>
                  </div>
                  <ng-container *ngIf="!Button.showIcon">
                    <div>
                      <label>Background Color: </label>
                      <kendo-colorpicker
                        formControlName="backgroundColor"
                        [value]="Button.styles.backgroundColor"
                      >
                      </kendo-colorpicker>
                    </div>
                    <div>
                      <label>Text Color </label>
                      <kendo-colorpicker
                        formControlName="color"
                        [value]="Button.styles.color"
                      >
                      </kendo-colorpicker>
                    </div>
                    <lavi-font [FormGroup]="Button.form"></lavi-font>
                  </ng-container>
                  <div>
                    <label>Box Round Corners</label
                    ><input
                      type="text"
                      formControlName="boxRoundCorners"
                      [value]="Button.styles.boxRoundCorners"
                      placeholder="Box Round Corners"
                      lavi-app-numbers-only
                      maxlength="2"
                    />
                    <span>px</span>
                  </div>
                  <div>
                    <label>Border</label>
                    <select class="cursor-pointer" formControlName="border">
                      <option *ngFor="let size of BorderSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <div>
                    <label>Border color</label>
                    <kendo-colorpicker
                      formControlName="borderColor"
                      class="cursor-pointer"
                      [value]="Button.borderColor"
                    >
                    </kendo-colorpicker>
                  </div>
                  <div>
                    <label>Box Shadow</label>
                    <select formControlName="shadow">
                      <option [ngValue]="true">True</option>
                      <option [ngValue]="false">False</option>
                    </select>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </lavi-form-content-panel>
      </lavi-form-panel>
    </div>

    <ng-container>
      <lavi-language-translate-modal
        *ngIf="values.Panel.mode == 2"
        Title="{{ (ButtonTranslateModalTitle$ | async) + ' Text' }}"
        [OpenDialog]="OpenDialog$ | async"
        [TextFormArray]="TextFormArray$ | async"
        (CloseTranslateTextDialog)="CloseTranslateDialog()"
        (Save)="UpdateTranslatedTextInForm([$event])"
        (TranslateText)="Translate($event)"
      ></lavi-language-translate-modal>
    </ng-container>

    <lavi-language-image-modal
      *ngIf="values.Panel.mode == 2"
      [OpenDialog]="OpenImageModal"
      [Title]="'Upload Images'"
      [ImageFormArray]="ButtonImageFormArray$ | async"
      (Save)="ApplyImageChanges($event)"
      (CloseImageModal)="CloseImageDialog()"
    >
    </lavi-language-image-modal>
  </ng-container>
</ng-container>
