  <lavi-form-content-panel>
    <div class="col-lg-12 inner-panel-padding right-column-width">
      <div class="mb-5">
        <div class="row">
          <div class="col-lg-9">
          <div class="font-weight-500">Services</div>
          </div>
          <div class="col-lg-3 ">
            <span
              (click)="Add()"
              class="text-blue pl-4 cursor-pointer font-weight-bold"
              >Add Service</span
            >
          </div>
          <lavi-services-add
            [isServiceDialogOpen]="OpenServiceModal$ | async"
            [Mode]="Mode"
            [Routings]="Routings$ | async"
            [HoursOfOperations]="HoursOfOperations$ | async"
            [Appointments]="Appointments$ | async"
            [TicketTemplates]="TicketTemplates$ |async"
            [SurveyTemplates]="SurveyTemplates$ |async"
            (SaveForm)="Save($event)" (Close)="CloseModal()"
          ></lavi-services-add>
        </div>
        <div>
          <lavi-services-list
            [serviceList]="serviceList$ | async"
            (edit)="Edit($event)"
            (copyService)="Copy($event)"
            (delete)="Delete($event)"
          ></lavi-services-list>
        </div>
      </div>
    </div>
  </lavi-form-content-panel>
