    <div class="col-lg-12 inner-panel-padding right-column-width">
      <div class="mb-5">
        <div class="row mb-4">
          <div class="col-lg-9">
            <div class="font-weight-500">Service Questions</div>
          </div>
          <div class="col-lg-3">
            <span class="text-blue pl-4 cursor-pointer font-weight-bold" (click)="OpenModal()"
              >Add Question Set</span>
          </div>
          <lavi-add-question-set
          [isSQuestionSetDialogOpen]="OpenQuestionModal$ |async"
          [SupportedLanguages]="SupportedLanguages$| async"
          [Routings]="Routings$ |async"
          [Questions]="Questions$ | async"
          [ConditionRoutings]="ConditionRoutings$ | async"
          [QuestionTabSelected]="QuestionTabSelected$ |async"
          [Mode]="Mode"
          (Save)="Save()"
          (Close)="CloseModal()"></lavi-add-question-set>
        </div>
        <div>
          <lavi-service-question-list (edit)="Edit($event)" (delete)="Delete($event)"
          [QuestionSets]="QuestionSets$ | async"></lavi-service-question-list>
        </div>
      </div>
    </div>

