.main-div{
    width: 82.5%;
}

.width-min{
    width: min-content !important;
}

.ticket-status {
  padding-left: 70px;
}

.setting-data .col-12[formgroupname="personMovementSettings"] {
  padding-bottom: 0;
}

.ml-32{
  margin-left: 32%;
}
