<ng-container>
  <lavi-modal
    [OpenDialog]="OpenDialog"
    [Width]="ModalWidth"
    [Title]="Title"
  >
  <div class="video">
    <div class="col-lg-12">
      <div class="row">
    <ng-container *ngFor="let item of VideoFormArray.controls; let i = index" >
      <ng-container [formGroup]="item">
        <div
        class=' pt-3 col-4 col-lg-4 col-sm-4'>
        <div class="video-upload h-100">
          <input class="hide" [id]="item.value.languageCode" type="file"
          accept="video/mp4,video/mov,video/flv,video/avi,video/mkv,video/3gp" multiple (change)="GetFileURL($event, i, item.value.languageCode)"  />
          <label [for]="item.value.languageCode" class="w-100 text-center cursor-pointer" (click)="UploadVideo()">
            <div class="file-size cursor-pointer">
              <lavi-video
              [Width]="VideoWidth"
              [Height]="VideoHeight"
              [ShowRemoveOption]="false"
              [Src]="item.value.url"
              ></lavi-video>
              <div class="pt-2">
                <label [for]="item.value.languageCode" class="cursor-pointer text-center w-100 lbl-upload-new">{{'Upload Video (' + item.value.language +')'}}</label>
              </div>
            </div>
          </label>
          <div>
            <span class="text-center d-block mt-1 mb-1">OR</span>
            <p (click)="OpenURLDialog(item.value.languageCode)" class="text-blue cursor-pointer text-center font-size-small-3">Add URL</p>
          </div>
        </div>
      </div>
    </ng-container>
    </ng-container>
  </div>
    </div>
  </div>

  <kendo-dialog-actions class="pb-0">
    <span class="error-message d-block float-left pl-0" *ngIf="IsErrorsToShow">Please Upload Video Or Add URL.</span>
    <div class="float-right pr-0">
      <input type="button" kendoButton class="secondary-button" (click)="CloseVideoDialog()" value="Cancel" />
      <input type="button" kendoButton class="primary-button" (click)="Apply(VideoFormArray.controls)" value="Apply" />
    </div>
  </kendo-dialog-actions>

  </lavi-modal>
</ng-container>
<lavi-add-url-modal [OpenDialog]="ModalOpen"
[ModalTitle]="'Add URL'"
[ModalWidth]="'45%'"
[LanguageId]="LanguageId"
[IsImgUrl]="false"
(ModalClose)="ModalClose()"
(AddUrl)="AddUrl($event)"
></lavi-add-url-modal>
