<div
  class="newControl position-absolute label"
  *ngFor="let control of Labels"
  [style.transform]="
    'translate(' + control.left + 'px, ' + control.top + 'px) scale(1)'
  "
  [style.width.px]="control.width"
  [style.height.px]="control.height"
  [style.z-index]="control.zindex"
  [style.color]="control.color"
  [style.font-size]="control.fontSize ? control.fontSize + 'px' : ''"
  [style.font-style]="control.fontStyle"
  [style.font-weight]="control.fontWeight"
  [style.font-family]="control.font"
  [style.text-align]="control.alignment"
>
  <span class="wrap">{{ (control.text[SelectedLanguage] || control.text[DefaultLanguage]) | laviEmptyString }}</span>
</div>
