<div>
  <div><label>Name</label><input type="text" maxlength="50" placeholder="Label Name" /></div>
  <div><label>Text</label><input type="text" maxlength="50" placeholder="Label Text" /></div>
  <div><label>Color</label><kendo-colorpicker> </kendo-colorpicker></div>
  <div><label>Top</label><input type="text" lavi-app-numbers-only placeholder="Top" maxlength="4" /></div>
  <div><label>Left</label><input type="text" lavi-app-numbers-only placeholder="Left" maxlength="4" /></div>
  <div><label>Width</label><input type="text" lavi-app-numbers-only placeholder="Width" maxlength="4" /></div>
  <div><label>Height</label><input type="text" lavi-app-numbers-only placeholder="Height" maxlength="4" /></div>

  <!-- <lavi-font ></lavi-font> -->
</div>
