@import "src/stylings/primitives/primitives.scss";
$StepperActiveBackColor: var(--activeback-color);
$StepperInActiveBackColor: var(--inactiveback-color);
$StepperActiveTextColor: var(--activetext-color);
$SteppeInActiveTextColor: var(--inactivetext-color);

.stepper-container {
  padding: 50px 0 0;
  text-align: left;
}
.stepper {
  padding-top: 50px;
}
.stepper-desc {
  padding: 20px 0 20px;
  float: left;
  text-align: left;
  width: 100%;
}

.k-stepper > .k-progressbar .k-state-selected {
  background: linear-gradient(
    to right,
    $StepperActiveBackColor,
    $StepperActiveBackColor
  );
}

.preview-icon {
  color: $StepperActiveBackColor;
  font-size: $font-size-small-3;
  float: left;
  padding-right: 21px;
  padding-top: 4px;
}

.k-step-link .k-icon {
  font-size: $font-size-small-5;
  color: $StepperActiveTextColor;
}

.k-stepper .k-step-done .k-step-indicator {
  border-color: $StepperActiveBackColor;
  background-color: $StepperActiveBackColor;
  color: $StepperInActiveBackColor;
}
.k-stepper .k-step-done .k-step-label {
  color: $StepperInActiveBackColor;
}

.k-stepper .k-step-current .k-step-indicator {
  border-color: $StepperActiveBackColor;
  background-color: $StepperActiveBackColor;
  color: $StepperInActiveBackColor;
}

.k-stepper .k-step-current .k-step-label {
  color: $StepperInActiveBackColor;
}
.k-stepper .k-step.k-step-current:hover .k-step-indicator,
.k-stepper .k-step.k-step-current.k-step-hover .k-step-indicator {
  background-color: $StepperActiveBackColor;
  color: $StepperInActiveBackColor;
}
.k-stepper .k-step.k-step-current:hover .k-step-label,
.k-stepper .k-step.k-step-current.k-step-hover .k-step-label {
  color: $StepperInActiveBackColor;
}

.k-stepper .k-step.k-step-done:hover .k-step-indicator {
  background-color: $StepperActiveBackColor;
  color: $StepperActiveTextColor;
}
.k-stepper .k-step.k-step-done:hover .k-step-label {
  color: $StepperInActiveBackColor;
}
// InActive
.k-stepper .k-step-indicator {
  background-color: $StepperInActiveBackColor;
  color: $SteppeInActiveTextColor;
}

.k-stepper .k-step-label {
  color: $StepperInActiveBackColor;
}

.k-stepper .k-step:hover .k-step-indicator {
  background-color: $StepperInActiveBackColor;
  color: $SteppeInActiveTextColor;
}
.k-stepper .k-step:hover .k-step-label {
  color: $StepperInActiveBackColor;
}
.k-progressbar {
  background-color: $StepperInActiveBackColor;
  color: $SteppeInActiveTextColor;
}

.description {
  font-size: $font-size-small-4;
  vertical-align: top;
  margin-top: 7px;
  display: inline-block;
  line-height: 1;
}
.i-check-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
  padding-left: 4px;
  padding-top: 0;
  margin-top: 4px;
}
.edit-icon-black {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-left: 6px;
  cursor: pointer;
  position: relative;
  top: 2px;
}
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .layout-content .content-area, .layout-content .button-container {
      width: 94%;
    }
    .content-area.stepper-container {
      width: 100%;
    }
    .k-stepper .k-step-label .k-step-text {
      font-size: $font-size-small-1;
    }
    .stepper-desc {
      padding: 20px;
    }
    .description {
      margin-left: 8px;
    }
}
