<div
  class="e-panel divTool"
  [lavi-drag-me]="true"
  [drag-me-drop-element]="DivLayoutDesignContainer"
  (OnDrop)="OnLabelDrop($event)"
>
  <div class="e-panel-container">
    <div class="icon-containers">
      <img src="/assets/text-icon.svg" class="text-icon" alt="Label" />
    </div>
    <span>Text</span>
    <span class="drag-icon float-right"></span>
  </div>
</div>
<div
  class="e-panel divTool"
  [lavi-drag-me]="true"
  [drag-me-drop-element]="DivLayoutDesignContainer"
  (OnDrop)="OnImageDrop($event)"
>
  <div class="e-panel-container">
    <div class="icon-containers">
      <img src="/assets/img-icon.svg" alt="Image" />
    </div>
    <span>Image</span>
    <span class="drag-icon float-right"></span>
  </div>
</div>

<div
  class="e-panel divTool"
  [lavi-drag-me]="true"
  [drag-me-drop-element]="DivLayoutDesignContainer"
  (OnDrop)="OnVideoDrop($event)"
>
  <div class="e-panel-container">
    <div class="icon-containers">
      <img src="/assets/video-icon.svg" alt="Image" />
    </div>
    <span>Video</span>
    <span class="drag-icon float-right"></span>
  </div>
</div>
<div
  class="e-panel divTool"
  [lavi-drag-me]="true"
  [drag-me-drop-element]="DivLayoutDesignContainer"
  (OnDrop)="OnSliderDrop($event)"
>
  <div class="e-panel-container">
    <div class="icon-containers">
      <img
        src="/assets/slideshow-icon.svg"
        class="slideshow-icon"
        alt="Image"
      />
    </div>
    <span>Slideshow</span>
    <span class="drag-icon float-right"></span>
  </div>
</div>
