@import "src/stylings/primitives/primitives.scss";
@import "src/stylings/shared/agent-layout.scss";

.filter-item-row{
  background: $agent-grid-row-background;
  border-radius: 5px;
}

.select-box{
    width: 0.5em;
    height: 0.5em;
    cursor: pointer;
  }

  .select-box.selected{
    background-color: $button-yellow-background-color;
  }


.filter-label{
  ::ng-deep {
    color:$agent-modal-bg;
    font-size: $font-size-small-1;
  }
}

.filter-call-btn{
  font-size: $font-size-small-1;
  font-weight: $font-weight-600;
  height: auto;
  line-height:1;
  text-transform: uppercase;
  background-color: $button-yellow-background-color;
}
