.k-grid{
    border-width: 0;
  }
  
  .k-grid td{
    border-width: 0;
  }
  
  .k-grid-header{
    border-bottom-width: 0;
  }
  
  .k-grid-header-wrap{
    border-width: 0;
  }

  .k-grid-content{
    overflow-y: visible;
    white-space: nowrap;
  }

  ::ng-deep .k-grid tbody tr {
    height: 40px;
  }
  
  ::ng-deep .k-grid tbody tr td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }