<lavi-agent-dialog-box [ModalColor]="'#45c493'" [Width]="'530px'" [Height]="'480px'" [IsOpen]="true" class="agent-sms-chat-modal"
  [IsFooterRequired]="false"
  *ngIf="IsChatDialogShow$ | async " (OnClose)="Close()">
  <div header>
    <div class="container">
      <div class="row">
        <div class="col-12 text-left header">
          <ul class="m-0 p-0">
            <li>
              {{CustomerName$|async | uppercase}}
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  
  <div body class="container h-100">
    <kendo-chat class="k-chat-custom" [messages]="ChatMessages$ | async" [user]="User" (sendMessage)="SendMessage($event)"
      [class]="(AllowBiDirectional$|async)?'enMsgBox':'disMsgBox'">
    </kendo-chat>
  </div>
</lavi-agent-dialog-box>
