@import "src/stylings/primitives/primitives.scss";
.property-window-bg {
  background: $color-background-white;
  border: solid 2px $scheduler-border-color;
  padding: 0 5px 5px;
}
.property-window-header {
  color: $color-text-light-grey;
  text-align: left;
}

.property-align{
display: inline-flex;

}
