  .mobile-appointment-buttons .col-6 .secondary-button, .mobile-appointment-buttons .col-6 .primary-button {
    width: 95px;
    padding: 9px 0;
    text-align: center;
    min-width: 45px !important;
  }

  .mobile-appointment-buttons{
    font-weight: 500;
  }