
<lavi-transparent-footer>
  <div class="col-lg-12 col-sm-12 col-12 pt-2">
    <div class="row btncontainer">
      <div class="col-12 text-right">
        <input
          kendoButton
          type="submit"
          class="btn secondary-button mr-2"
          (click)="OnSaveAsDraftClick()"
          value="Save As Draft"
        />
        <input
          kendoButton
          type="submit"
          class="btn add-button mr-3"
          (click)="OnSaveClick()"
          value="Publish"
        />
      </div>
    </div>
  </div>
</lavi-transparent-footer>
