<div class="row working-hours">
  <div [formGroup]="WorkingHourForm" class="col-lg-9 col-sm-12">
    <lavi-hours
      DayName="Sunday"
      [HourForm]="WorkingHourForm.controls.sunday"
      [TimeFrameFormArray]="SundayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('SUNDAY')"
      (RemoveHoursForm)="RemoveHoursForm('SUNDAY',$event)"
      (ValidationToTimeControl)="ValidateToTime($event)"
    ></lavi-hours>
    <lavi-hours
      DayName="Monday"
      [HourForm]="WorkingHourForm.controls.monday"
      [TimeFrameFormArray]="MondayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('MONDAY')"
      (RemoveHoursForm)="RemoveHoursForm('MONDAY',$event)"
      ></lavi-hours>
    <lavi-hours
      DayName="Tuesday"
      [HourForm]="WorkingHourForm.controls.tuesday"
      [TimeFrameFormArray]="TuesdayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('TUESDAY')"
      (RemoveHoursForm)="RemoveHoursForm('TUESDAY',$event)"
    ></lavi-hours>
    <lavi-hours
      DayName="Wednesday"
      [HourForm]="WorkingHourForm.controls.wednesday"
      [TimeFrameFormArray]="WednesdayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('WEDNESDAY')"
      (RemoveHoursForm)="RemoveHoursForm('WEDNESDAY',$event)"
    ></lavi-hours>
    <lavi-hours
      DayName="Thursday"
      [HourForm]="WorkingHourForm.controls.thursday"
      [TimeFrameFormArray]="ThursdayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('THURSDAY')"
      (RemoveHoursForm)="RemoveHoursForm('THURSDAY',$event)"
    ></lavi-hours>
    <lavi-hours
      DayName="Friday"
      [HourForm]="WorkingHourForm.controls.friday"
      [TimeFrameFormArray]="FridayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('FRIDAY')"
      (RemoveHoursForm)="RemoveHoursForm('FRIDAY',$event)"
    ></lavi-hours>
    <lavi-hours
      DayName="Saturday"
      [HourForm]="WorkingHourForm.controls.saturday"
      [TimeFrameFormArray]="SaturdayTimeFrameArray"
      (AddHoursForm)="AddHoursForm('SATURDAY')"
      (RemoveHoursForm)="RemoveHoursForm('SATURDAY',$event)"
    ></lavi-hours>
  </div>
</div>
