@import "src/stylings/primitives/primitives.scss";
.e-info {
  background-color: $color-info-button !important;
  color: $color-text-white;
  padding: 7px 30px 4px;
  font-size: $font-size-small-4;
  float: right;
  border-color: transparent;
  border-radius: 4px;
  width: 156px;
  height: 40px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border: none !important;
  outline: none !important;
}
