
  <div>
    <h6 class="pt-5">Hey {{UserName}}</h6>
    <h1 class="pb-3">Welcome!</h1>
    <div class="home-console border-grey">
      <div class="row">
        <div class="col-9">
        <h5>Your Home console isn't setup yet!</h5>
        <h6>Find out how home console optimizes your work day.</h6>
        <div class="pt-5">
          <input type="button" kendoButton class="secondary-button font-weight-bold" value="Learn More" />
        </div>
      </div>
      <div class="col-3">
        <img src="../../../../assets/img/home-page/dashboard-illustration.svg">
      </div>
      </div>

    </div>
    <div class="row pt-3">
      <div class="col-3">
        <img src="../../../../assets/img/home-page/skeleton-chart-sm-2.jpg">
      </div>
      <div class="col-3">
        <img src="../../../../assets/img/home-page/skeleton-chart-sm-1.jpg">
      </div>
      <div class="col-3">
        <img src="../../../../assets/img/home-page/skeleton-chart-sm-2.jpg">
      </div>
      <div class="col-3">
        <img src="../../../../assets/img/home-page/skeleton-chart-sm-2.jpg">
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-8">
        <img src="../../../../assets/img/home-page/skeleton-chart-lg.jpg">
      </div>
      <div class="col-4">
        <img src="../../../../assets/img/home-page/skeleton-chart-md.jpg">
      </div>
    </div>

    <div class="row pt-2 bg-white m-0 mt-4">
      <div class="col-6"></div>
      <div class="col-6">
        <img class="w-25 float-right" [src]='getQtracLogo()'>
      </div>
    </div>
  </div>
